.content {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.card-header {
    background-color: #3a3afd;
    color: #5dedfb;
    font-family: monospace;
}

.card-footer {
    background-color: #3a3afd;
    color: #5dedfb;
    font-family: monospace;
}

.Subtitulo {
    font-size: 10px;
    margin-left: 20px;
}

.btn {
    height: 100%;
    width: 200px;
}

.Titles {
    height: 40px;
    width: 100%;
    text-align: center;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: #3a3afd;
    color: #5dedfb;
    font-family: monospace;
}

.Mejoras {
    height: 80px;
    width: 100%;
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-left: 10px;
    background-color: #3a3afd;
    color: #5dedfb;
    font-family: monospace;
    cursor: pointer;
}

p {
    margin-bottom: 0px !important;
    margin-left: 10px;
}

.Cuadrado {
    padding-top: 5px;
    width: 90%;
    aspect-ratio: 1;
    font-size: 12px;
    margin-left: 5%;
    border: 2px solid blue;
    background-color: #3a3afd;
}

.Pixel {
    /*border: 1px solid black;*/
    background-color: #031683;
    width: 5%;
    aspect-ratio: 1;
    display: inline-block;
    overflow: auto;
    color: #5dedfb;
}

.Ticado {
    /*border: 1px solid black;*/
    width: 5%;
    aspect-ratio: 1;
    display: inline-block;
    background-color: #3f2dff;
    overflow: auto;
    color: #5dedfb;
}

.Disabled {
    pointer-events: none !important;
    opacity: 0.5;
}

.Ocultar {
    display: none;
}